
<h1 *ngIf="xIsNext" class="faux-padding text-light text-center">
    Select a quadrant...
</h1>
<h1 *ngIf="player.includes('O')" class="faux-padding text-light text-center">
    Evasive Action! Incoming Astroid!
</h1>

<main>
    <!-- Render a square per the length of the squares array -->
    <app-square
        *ngFor="let val of squares; let i = index"
        [value]="val"
        (click)="makeAMove(i)"
    ></app-square>
</main>

<app-modal 
    *ngIf="GeneralService.showModal"
    [winner]="winner"
    [tie]="tie"
    [welcome]="welcome"
    (click)="newGame()"
></app-modal>